<aside class="panel-sidebar" *ngIf="currentMenu && currentMenu.items.length > 0">
  <div class="panel-header">
    <div class="panel-header-info">
      <span class="panel-header-icon" *ngIf="currentMenu.icon">
        <i class="fa-solid" [ngClass]="currentMenu.icon"></i>
      </span>
      <div>
        <span class="panel-title">{{ currentMenu.title }}</span>
        <span class="panel-desc" *ngIf="currentMenu.desc">{{ currentMenu.desc }}</span>
      </div>
    </div>
    <button class="panel-close" (click)="onClose()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  
  <nav class="panel-nav">
    <button
      *ngFor="let item of currentMenu.items"
      class="panel-nav-item"
      [class.active]="activePage === item.id"
      [routerLink]="item.route || null"
      (click)="onSelectPage(item.id)">
      <i class="fa-solid" [ngClass]="item.icon"></i>
      {{ item.label }}
    </button>
  </nav>
</aside>
